button {

    font-size: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    height: auto;
   width: auto;
   cursor: pointer;

  }  
    
  button:hover {
    background-color: pink; 
  }
  
 .home {
  flex-direction: column;
 }
  
  .content {
    flex-grow: 1;
  }

  .container {
    
    width: 100%; 
    
    font-family: 'Arial', sans-serif;
    background-color: #FFFFE0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
   
  }

  .footer {
 
    flex-shrink: 0;
   
     width: 100%;
     background-color: pink;
     padding: 10px;
     text-align: center;
   }

   .header{
    background-color: pink;
    height:auto;
    padding: 10px;
    width: 100%; 
    text-align: center;
   
    box-sizing: border-box;
    font-size: 24px;
  }
  
  .shoppinglistdetail {
    width: 70%; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
  
  }
  
  .memberlist {
      list-style: none;
      padding: 0;
      
  
  }
  
  .memberitem {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
     
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }